{% assign heading = include.heading %}
{% assign description = include.description %}
{% assign align = include.align %}
{% assign date = include.date %}

<div class="p-6 md:py-12 h-full flex items-center justify-center">
<!--  {% if date %}-->
<!--  <div class="font-medium text-gray-700">{{ date | date_to_long_string }}</div>-->
<!--  {% endif %}-->
<!--  <h1 class="heading text-4xl md:text-6xl font-bold font-sans md:leading-tight">-->
<!--    {{ heading }}-->
<!--  </h1>-->

  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6">
    <div class="col-span-1 flex items-center justify-center">
      <img src="/assets/images/logo/logo.png" alt="{{ site.title }}" />
    </div>
    <div class="col-span-1 prose md:content-end">
      <p>Hartenbakker vzw is een nieuw arbeidszorginitiatief in de Stadsboerderij van Turnhout.</p>
      
      <p>We geven mensen met een beperking de kans te werken bij de bakker</p>

      <p>Hartenbakker is erkend door het VAPH als aanbieder Rechtstreeks Toegankelijke Hulp.</p>

      <p>Hartenbakker start met een klein hartje. Help ons groeien en kom proeven van ons brood of van ons aanbod.</p> 
        
      <p>Interesse als cliënt of als vrijwilliger: mail ons voor een kennismakingsgesprek <a href="mailto:hartenbakker@gmail.com">hartenbakker@gmail.com</a>.</p>
      
      <p>Interesse als klant: Bestel via onze <a href=https://hartenbakker.webkorf.be>webshop</a></p>
      
      <p>Voorlopig is ons aanbod:</p>

      <p>maandag (12:00 - 18:00) Gistbrood</p>
      
      <p>dinsdag (10:00 - 18:00) Desembrood</p>
      
      <p>woensdag (10:00 - 17:00) Desembrood en woensdagnamiddagbroodjes</p>
      
    </div>
  {% if description %}
  <h2 class="text-xl text-gray-600 mt-2">{{ description }}</h2>
  {% endif %}
</div>
